@import "../../../Styles/Variables.scss";

.pagination {
  margin-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.btnPaging {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  display: flex;
  gap: 0.7rem;

  span {
    line-height: 1;
  }
}
