@import "../../../../Styles/Variables.scss";

.tableRow {
  div {
    display: flex;
    justify-content: center;
  }
  .nameGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: left;
    margin-left: 20%;
  }
  .currencyImage {
    width: 3rem;
    height: 3rem;
  }
  &__symbol {
    color: $color-grey-light;
    font-weight: 300;
  }
  .btn {
    padding: 1rem 2rem;
    min-width: 30%;
    border-radius: 3px;
    background-color: $color-accent;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-accent-medium;
      color: $color-grey-dark;
    }
    @media only screen and (max-width: $bp-small) {
      padding: 0.5rem 1rem;
      font-size: 1.3rem;
    }
  }
  .triangle {
    width: 2rem;
    height: 2rem;
    align-self: flex-end;
  }
  .priceDown {
    color: $color-red;
    stroke: $color-red;
    fill: $color-red;
  }
  .priceUp {
    color: $color-green;
    stroke: $color-green;
    fill: $color-green;
  }
}
