@import "../../../Styles/Variables.scss";

.searchEl {
  margin-top: 8rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 4rem;
  }
}
.searchLogo {
  width: 2.5rem;
  height: 2.5rem;
  stroke: $color-grey-light;
  background-color: transparent;
}
.searchField {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid $color-accent-medium;
  border-radius: 3px;
  max-width: 25rem;
  background-color: $color-accent-light;
  padding: 0.2rem 0.5rem;

  input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
    font-style: inherit;
    font-size: 1.2rem;
    font-weight: 600;

    &:focus {
      border: none;
      outline: $color-accent-light;
    }
    &::-webkit-input-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &::-moz-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:-moz-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:-ms-input-placeholder {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus::-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus:-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &:focus:-ms-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}
.searchField.active {
  background-color: $color-white;
}
