@import "../../../../Styles/Variables.scss";

.table {
  grid-column: center-start / center-end;
  border-collapse: collapse;
  border-top: 1px solid $color-accent-light;
  border-bottom: 1px solid $color-accent-light;
  cursor: pointer;
  margin: 0 1rem 6rem;
  padding-bottom: 6rem;

  td,
  th {
    border-top: 1px solid $color-accent-light;
  }

  thead {
    height: 5rem;
    font-size: calc($default-text-size + 0.2rem);
    color: $color-black;

    @media only screen and (max-width: $bp-small) {
      font-size: calc($default-text-size - 0.3rem);
    }

    th {
      &:nth-child(1) {
        min-width: 30rem;

        @media only screen and (max-width: $bp-small) {
          min-width: 25rem;
        }
        @media only screen and (max-width: $bp-smallest) {
          min-width: 10rem;
        }
      }
      &:nth-child(2) {
        min-width: 18rem;
        transition: all 0.3s;
        &:hover {
          background-color: $color-accent-light;
        }
        @media only screen and (max-width: $bp-small) {
          min-width: 13rem;
        }
        @media only screen and (max-width: $bp-smallest) {
          min-width: 10rem;
        }
      }
      &:nth-child(3) {
        min-width: 18rem;
        transition: all 0.3s;
        &:hover {
          background-color: $color-accent-light;
        }
        @media only screen and (max-width: $bp-small) {
          min-width: 13rem;
        }
        @media only screen and (max-width: $bp-smallest) {
          min-width: 10rem;
        }
      }
      &:nth-child(4) {
        min-width: 18rem;
        transition: all 0.3s;
        &:hover {
          background-color: $color-accent-light;
        }
        @media only screen and (max-width: $bp-small) {
          min-width: 13rem;
        }
        @media only screen and (max-width: $bp-smallest) {
          min-width: 10rem;
        }
      }
      &:nth-child(5) {
        width: 100%;
      }
    }
  }

  tbody {
    font-size: $default-text-size;
    tr {
      height: 6rem;
    }

    td {
      vertical-align: middle;
      text-align: center;
    }
  }
}
.sortBtn {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  line-height: 1;
  font-size: 1.4rem;
  color: $color-black;
  cursor: pointer;

  transition: transform 0.05s ease-out;
}
.sortBtnReversed {
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  line-height: 1;
  font-size: 1.4rem;
  color: $color-black;
  cursor: pointer;
  transform: rotate(180deg);
}
