@import "../../../Styles/Variables.scss";

.main {
  grid-column: center-start / center-end;

  h1 {
    font-size: 6rem;
    text-transform: uppercase;
  }
}
.hero {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  min-height: 13rem;
}
