@import "./Styles/Variables.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 300;
  background-color: $color-white;

  color: $color-grey-dark;
  line-height: 1.6;
  font-size: $default-text-size;
  -webkit-tap-highlight-color: transparent;
}

.app {
  display: grid;
  grid-template-rows: 6rem repeat(7, min-content);
  grid-template-columns:
    [page-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [page-end];
}
